<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<div class="rounded-4 content">
  <div class="input-group mt-3">
    <input
      type="search"
      class="form-control me-3 rounded-4"
      placeholder="Search Username..."
      [(ngModel)]="username"
      (keyup.enter)="searchUserByUsername()"
      (input)="searchUserByUsername()"
    />
    <div class="input-group-append">
      <button
        class="btn btn-primary"
        type="button"
        (click)="searchUserByUsername()"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <div class="no-data" *ngIf="users.length == 0">
    <img src="../../../../../assets/images/no-data.png" alt="" class="" />

    <!-- <button class="btn btn-primary rounded-4" id="explore" (click)="gotoExploreBooks()">Explore Books</button> -->
  </div>

  <div class="table-container" *ngIf="users && users.length > 0">
    <table class="table table-hover table-striped-columns">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Address</th>
          <th>Phone No</th>
          <th>Fines</th>
          <th>Borrowed Books</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <ng-container *ngFor="let user of users">
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <!-- <td id="address">{{  user.address.length > 50? (user.addrress | slice:0:50) +"..."  : user.address }}</td> -->
            <!-- <td>{{user.address | slice:0:5}}</td> -->
            <td id="address">
              {{ user.address.length > 30 ? (user.address | slice:0:50) + '...' : user.address }}
            </td>
            
            <td>{{ user.mobileNo }}</td>
            <td>
              <button
                type="button"
                class="btn btn-sm btn-success "
                (click)="openFinesModal(user)"
              >
              <i class="bi bi-currency-rupee"></i>
              </button>
            </td>
            <td>
              <button
                type="button"
                id="borrowed-btn"
                class="btn btn-sm  "
                (click)="openBorrowedBooksModal(user)"
              >
              <i class="bi bi-bookshelf"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <nav aria-label="Books Pagination">
      <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item" [class.disabled]="pageNumber === 0">
          <a class="page-link" (click)="prevPage()">Previous</a>
        </li>
        <li
          class="page-item"
          *ngFor="let page of totalPagesArray"
          [class.active]="page - 1 === pageNumber"
        >
          <a class="page-link" (click)="goToPage(page - 1)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="pageNumber === totalPages - 1">
          <a class="page-link" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <div
    id="finesModal"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="finesModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="finesModalLabel">User Fines</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Fines information for {{ selectedUser?.username }}</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
