/* You can add global styles to this file, and also import other style files */
// p, h1 {
//     text-align: center;
// }

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 160 to 700

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}