<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<div class="rounded-4 content">
  <div class="input-group mt-2">
    <select
      class="form-control-sm me-2 form-select-sm rounded-3"
      [(ngModel)]="selectedFilter"
    >
      <option value="title" class="rounded-3" selected>
        Search by Title
      </option>
      <option value="author" class="rounded-3">Search by Author</option>
      <option value="genre" class="rounded-3">Search by Genre</option>
    </select>
    <input
      *ngIf="selectedFilter !== 'id'"
      type="text"
      class="rounded-4 form-control me-2"
      placeholder="Search..."
      [(ngModel)]="searchTerm"
      (keyup.enter)="search()"
      (input)="search()"
    />

    <button
      class="btn btn-sm btn-primary rounded-3"
      type="submit"
      (click)="search()"
    >
      <i class="bi bi-search"></i>
    </button>
  </div>
  <div class="no-data" *ngIf="books.length == 0">
    <img src="../../../../../assets/images/no-data.png" alt="" class="" />

    <!-- <button class="btn btn-primary rounded-4" id="explore" (click)="gotoExploreBooks()">Explore Books</button> -->
  </div>

  <div *ngIf="books && books.length > 0">

    <div class="table-container">
      <table class="table table-striped-columns table-hover">
        <thead>
          <tr>
            <!-- <th>
              Book Id
              <button class="btn" (click)="switchSortBy('bookId', sortDir === 'asc' ? 'desc' : 'asc')">
                <i [ngClass]="sortDir === 'asc' ? 'bi bi-sort-down-alt' : 'bi bi-sort-up-alt'"></i>
              </button>
            </th> -->
            <th (click)="switchSortBy('title')">Title</th>
            <th (click)="switchSortBy('author')">Author</th>
            <th (click)="switchSortBy('genre')">Genre</th>
            <th (click)="switchSortBy('printYear')">Print Year</th>
            <th>Availablity</th>
            <th>Weeks</th>
            <th>Request Book</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let book of books">
            <!-- <td>{{ book.bookId }}</td> -->
            <td id="title">{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre | removeUnderscore }}</td>
            <td>{{ book.printYear }}</td>
            <td
              id="status-text"
              [ngClass]="{
                'text-warning-emphasis':
                  book.quantityAvailable <= 1 || !book.active,
                'text-success': book.active
              }"
            >
              {{
                book.quantityAvailable <= 1 || !book.active
                  ? "OUT OF STOCK"
                  : "AVAILABLE"
              }}
            </td>
            <td class="text-center">
              <select
                class="form-select-sm"
                [(ngModel)]="book.noOfWeeks"
                [disabled]="!book.active || book.quantityAvailable <= 1"
              >
                <option [value]="1">1</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
              </select>
            </td>
            <td class="text-center">
              <button
                class="btn btn-sm rounded-3 btn-primary"
              
                [disabled]="
                  !book.active || book.quantityAvailable <= 0 || !book.noOfWeeks
                "
                (click)="helper(book)"
              >
                Request
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Books Pagination">
        <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item" [class.disabled]="pageNumber === 0">
            <a class="page-link" (click)="prevPage()">Previous</a>
          </li>
          <li
            class="page-item"
            *ngFor="let page of totalPagesArray"
            [class.active]="page - 1 === pageNumber"
          >
            <a class="page-link" (click)="goToPage(page - 1)">{{ page }}</a>
          </li>
          <li
            class="page-item"
            [class.disabled]="pageNumber === totalPages - 1"
          >
            <a class="page-link" (click)="nextPage()">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
