<form
  [formGroup]="ProfileForm"
  (ngSubmit)="onUpdate()"
  class="form rounded-4"

>
  <div class="  justify-content-center">
    <div class="d-flex justify-content-center m-3">
      <div class="h4">My Profile</div>
    </div>
    <div class="d-flex justify-content-center">
      <div>

        <div class="input-group mb-3">
          <span class="input-group-text" > Name </span>
          <input type="text" formControlName="name" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" > Phone </span>
          <input type="text" formControlName="mobileNo" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" > Address </span>
          <input type="text" formControlName="address" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

      </div>

    </div>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <button class="btn btn-primary btn-submit btn-rounded" [disabled]="!ProfileForm.valid" type="submit">Update</button>
  </div>
</form>
