<div class="border">
  <div *ngIf="formType === 'email'" class="content-email">
    <div>
      <p class="text-center h3 mt-4">Forget Password</p>
    </div>
    <form class="email" [formGroup]="emailForm" >
      <div class="group rounded">
        <input
          type="text"
          name=""
          id="email-input"
          placeholder="Email"
          formControlName="email"

        />
        <div
          *ngIf="
            emailForm.controls['email'].invalid &&
            emailForm.controls['email']?.touched
          "
          class="text-danger "
        >
          <p id="msg" *ngIf="emailForm.get('email')?.errors?.['required']">
            Email is required
          </p>
          <p id="msg" *ngIf="emailForm.get('email')?.errors?.['pattern']">
            Invalid email format
          </p>
        </div>
      </div>
      <button type="button" class="btn btn-primary gen-otp-btn" (click)="generateOTP()">Generate OTP</button>

    </form>
  </div>
  <div *ngIf="formType === 'otp'" class="content-otp">
    <div>
      <p class="text-center h3 mt-4">Reset Password</p>
    </div>
    <form class="otp pb-4" [formGroup]="otpForm" >
    <div class="otp-input">
      <div class="container">
<!--        <input type="text" id="otp" minlength="1" maxlength="1" />-->
<!--        <input type="text" id="otp" min="0" max="9" />-->
<!--        <input type="text" id="otp" min="0" max="9" />-->
<!--        <input type="text" id="otp" min="0" max="9" />-->
        <input  type="number"
                name=""
                id="otp1"
                placeholder="otp"
                formControlName="otp" />
      </div>
      <button type="button" class="btn btn-info" (click)="verifyOTP()">Verify</button>


    </div>
    </form>

    <div class="password">
      <input
        type="password"
        name=""
        id="password1"
        minlength="8"
        maxlength="20"
        placeholder="New Password"
        [disabled]="!isOtpVerified"
        [(ngModel)]="newPassword"
      />
      <input
        type="password"
        name=""
        id="password2"
        minlength="8"
        maxlength="20"
        placeholder="Confirm Password"
        [disabled]="!isOtpVerified"
        [(ngModel)]="confirmPassword"
        (ngModelChange) = "checkSamePassowrd()"

      />

      <div *ngIf="   !arePasswordsSame" class="text-danger d-flex justify-content-center py-4 px-2 text-center">

        Passwords don't match
      </div>
      <button [disabled]="!isOtpVerified || !arePasswordsSame" type="button" class="btn btn-primary pass-btn  mb-4" (click)="resetPassword()" >Submit</button>

    </div>

  </div>
</div>
