.header-div{
    background-color: #164863;
    height: 6vh;
    width: 100%;
    position: sticky;
}

.credentials{
    color: white;
    font-size: .7em;
    height: 4vh;
    width: 20vw;
    margin-top: .6vh;
}

.nri-logo{
height: 50%;
margin-left: 2rem ;
}

