<div class="header-div shadow d-flex justify-content-between border-bottom">
  <img
    src="assets/images/logo14.png"
    alt="logo"
    class="nri-logo align-self-center mr-2"
  />
  <!-- <div class="credentials d-flex flex-column align-item-center border rounded">
    <div class="user-name d-flex justify-content-center border-bottom">
      <span class="user-name-span">{{ userName }}</span>
    </div>
    <div class="role d-flex justify-content-center">
      <span class="role-span">{{ role }}</span>
    </div>

  </div> -->
  

  <div>
    <app-logout *ngIf="isLoggedIn"></app-logout>
  </div>
  
</div>

